# PostgreSQL
POSTGRES_DB=aitaskqueue
POSTGRES_USER=app
POSTGRES_PASSWORD=app_dev_password
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_USER=app
RABBITMQ_PASSWORD=app_dev_password
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672

# Prometheus
PROMETHEUS_PORT=9090
